 *{
     margin: 0;
     padding: 0;
}
.navbar{
    /*border: 2px solid purple;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background: rgb(5, 5, 5) 
    
    
    
}
.nav-list{
    display: flex;
    
    align-items: center;
    /*background-color: black;*/
    width: 50%;
}
.navbar li{
    /*border: 2px solid red;*/
    list-style: none;
    padding: 26px 30px;
}
.navbar li a{
    /*border: 2px solid green;*/
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: gray;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*border: 2px solid red;*/
}
.logo img{
    width: 33%;
    border: 2px solid white;
    border-radius: 43px;
}
.rightnav{
    /*border: 2px solid blue;*/
    /*background-color: purple;*/
    width: 50%;
    text-align: right;
}
.rightnav input{
    border: 2px solid black;
}
.rightnav btn{
    border: 2px solid brown;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url(img/pexels-zhang-kaiyv-1139556.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.fsection{
    height: 100vh;
    
}
.shalf{
    width: 20%;
}
.shalf  img{
    width: 90%;
    border: 2px solid white;
    
    display: block;
    margin: auto;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.fhalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.shalf{
    width: 30%;
}
.textbig{
    font-size: 38px;
}
.textsmall{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    background: none;
    color: white;
    cursor: pointer;
}f
.btn-sm{
    
}
.thumbnail{
    width: 215%;
    display: block;
}
.thumbnail  img{
    width: 80%;
    border: 2px solid white;
    
    
}

.secRight{
   
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.paras{
    padding: 0px 30px;
}
.left{
    flex-direction: row-reverse;
}
.contact{
    background-color: #f6f5f4;
    height: 90vh;
}
.text-center{
    text-align: center;
    font-size: 40px;
}
.form{
    max-width: 500px;
    margin: 42px auto;
}
.form input{
    margin: 14px 0px;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
}
.form textarea{
    margin: 14px 0px;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
}

.dark{
    color: black;
    border: 2px solid black;
}
.text-footer{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    color: white;
}